body {
  background: lightgoldenrodyellow;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

h2 {
  text-align: center;
}

h3 {
  text-align: center;
}

p {
  text-align: center;
  color: olive;
}

a {
  color: green;
}

.container {
  border: 1px solid black;
}
ul {
  list-style-type: none;
}
